<%- include("../partials/nav") %>

<div class="party-index">
    <% for (let i = 1; i < 11; i++) { %>
        <% if (parties.length - i < 0) break %>
        <% const party = parties[(parties.length - i)] %>
        <div class="party">
            <h3><%= party.name ? party.name : "New Party" %></h3>
            <h4><%= party.owner.name %></h4>
            <p>Updoots: <%= party.updoots ? party.updoots : 0 %></p>
            <div class="adventurers">
                <% party.adventurers.forEach(adventurer => { %>
                    <p>
                        <%= adventurer.name ? `${adventurer.name} ` : "" %><%= adventurer.race %><%= adventurer.class%>
                    </p>
                <% }) %>
            </div>
            <a class="party-link" href="/parties/<%= party._id %>">more</a>
        </div>
    <% } %>
</div>

<%- include("../partials/footer") %>