<%- include("../partials/nav") %>
<div class="party-index">
    <% parties.forEach(party => { %>
        <div class="party">
            <h3>
                <%= party.name ? party.name : "New Party" %>
                <span>
                    <% if (user.id == party.owner) { %>
                    <a class="party-link" href="/parties/<%= party.id %>/warning"> Delete</a>
                    <% } %>
                </span>
            </h3>
            <p>Likes: <%= party.likes_count %></p>
            <div class="adventurers">
                <% party.adventurers.forEach(adventurer => { %>
                    <p>
                        <%= adventurer.name ? `${adventurer.name} the ` : "" %><%= adventurer.race ? `${adventurer.race} ` : "" %><%= adventurer.class %>
                    </p>
                <% }) %>
            </div>
            <div class="party-link">
                <% if (user.id == party.owner) { %>
                    <a class="party-link" href="/parties/<%= party._id %>/edit">Edit Party</a>
                    <br>
                    <br>
                <% } %>
                <a class="party-link" href="/parties/<%= party._id %>">View Party</a>
            </div>
        </div>
    <% }) %>
</div>

<%- include("../partials/footer") %>